._divMainStyle{
    margin:20px;
}

._divStyleSub{
    margin: '20px';
    span :'20px';
    border : '2px solid black'

  };
.marginForButtonAndSearch{
    margin-top:20px;
    margin-bottom :20px;
}

.btn-primary-custom{
    width:100%;

}
.backdropStyle{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50;
    width:100%;
    margin-left:auto !important;
    margin-right:auto !important;
    z-index:999
  }

  .modalStyle {
    background-color: #fff !important;
    border-radius: 5 !important;
    text-align: center;
    width: 200 !important;
    height: 200!important;
    margin: 0 auto !important;
    /* padding: 30 !important; */
    scroll-behavior: unset
  };

  .closePop{
      margin:20px;
      /* padding:20px; */
  }
  .closeButton{
    /* margin:10px; */
    padding:10px;
    /* float: right !important; */
    width: 100% !important;
    color: blue;
  }

.card-img-top-new{
    /* width:300px;
    margin: 05px;
    padding: 10px; */
}
.btn btn-new-d{
    width: 100% !important;
}
.card-img-top-new{
    width:300px !important;
    height: 200px !important;
}